 Задание 44 |
| --- |
| В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI'lst})
data.head() |

In [78]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data

   whoAmI
0   robot
1   human
2   robot
3   human
4   human
5   human
6   robot
7   robot
8   human
9   human
10  robot
11  robot
12  human
13  robot
14  robot
15  human
16  robot
17  human
18  robot
19  human

In [79]:
data_test = data
pd.get_dummies(data)

    whoAmI_human  whoAmI_robot
0          False          True
1           True         False
2          False          True
3           True         False
4           True         False
5           True         False
6          False          True
7          False          True
8           True         False
9           True         False
10         False          True
11         False          True
12          True         False
13         False          True
14         False          True
15          True         False
16         False          True
17          True         False
18         False          True
19          True         False

In [80]:
data.loc[data['whoAmI'] == 'human', 'whoAmI_human'] = 1
data.loc[data['whoAmI_human'] != 1, 'whoAmI_human'] = 0

data.loc[data['whoAmI'] == 'robot', 'whoAmI_robot'] = 1
data.loc[data['whoAmI_robot'] != 1, 'whoAmI_robot'] = 0

data.drop('whoAmI', axis=1)

    whoAmI_human  whoAmI_robot
0            0.0           1.0
1            1.0           0.0
2            0.0           1.0
3            1.0           0.0
4            1.0           0.0
5            1.0           0.0
6            0.0           1.0
7            0.0           1.0
8            1.0           0.0
9            1.0           0.0
10           0.0           1.0
11           0.0           1.0
12           1.0           0.0
13           0.0           1.0
14           0.0           1.0
15           1.0           0.0
16           0.0           1.0
17           1.0           0.0
18           0.0           1.0
19           1.0           0.0